#### Exercise 2:

Use and experience methods from previous lessons with given data. Try to search for other pandas methods to analyze the data such as groupby() and read_csv().

In [1]:
# You can find covid related data under project's data folder 
base_url = "../data/covid/"
infected_dataset_url = base_url + "time_series_covid19_confirmed_global.csv"
recovered_dataset_url = base_url + "time_series_covid19_recovered_global.csv"
deaths_dataset_url = base_url + "time_series_covid19_deaths_global.csv"

##### Solution :

In [2]:
import numpy as np
import pandas as pd

In [3]:

infected_dataset = pd.read_csv(infected_dataset_url)
recovered_dataset = pd.read_csv(recovered_dataset_url)
deaths_dataset = pd.read_csv(deaths_dataset_url)

#### infected_dataset

In [4]:
infected_dataset

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [5]:
infected_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Columns: 150 entries, Province/State to 6/15/20
dtypes: float64(2), int64(146), object(2)
memory usage: 311.8+ KB

In [6]:
infected_dataset.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
1/22/20             int64
                   ...
6/11/20             int64
6/12/20             int64
6/13/20             int64
6/14/20             int64
6/15/20             int64
Length: 150, dtype: object

In [7]:
infected_dataset.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '6/6/20', '6/7/20', '6/8/20', '6/9/20', '6/10/20', '6/11/20', '6/12/20',
       '6/13/20', '6/14/20', '6/15/20'],
      dtype='object', length=150)

In [8]:
infected_dataset.index

RangeIndex(start=0, stop=266, step=1)

In [9]:
infected_dataset.shape

(266, 150)

In [10]:
infected_dataset.sort_index(axis=1, ascending=False)

,Province/State,Long,Lat,Country/Region,6/9/20,6/8/20,6/7/20,6/6/20,6/5/20,6/4/20,...,1/31/20,1/30/20,1/29/20,1/28/20,1/27/20,1/26/20,1/25/20,1/24/20,1/23/20,1/22/20
0,NaN,65.000000,33.000000,Afghanistan,21459,20917,20342,19551,18969,18054,...,0,0,0,0,0,0,0,0,0,0
1,NaN,20.168300,41.153300,Albania,1299,1263,1246,1232,1212,1197,...,0,0,0,0,0,0,0,0,0,0
2,NaN,1.659600,28.033900,Algeria,10382,10265,10154,10050,9935,9831,...,0,0,0,0,0,0,0,0,0,0
3,NaN,1.521800,42.506300,Andorra,852,852,852,852,852,852,...,0,0,0,0,0,0,0,0,0,0
4,NaN,17.873900,-11.202700,Angola,96,92,91,88,86,86,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,6.613081,0.186360,Sao Tome and Principe,514,513,513,499,499,485,...,0,0,0,0,0,0,0,0,0,0
262,NaN,48.516388,15.552727,Yemen,524,496,484,482,469,453,...,0,0,0,0,0,0,0,0,0,0
263,NaN,43.333300,-11.645500,Comoros,141,141,141,141,132,132,...,0,0,0,0,0,0,0,0,0,0
264,NaN,71.276093,38.861034,Tajikistan,4690,4609,4529,4453,4370,4289,...,0,0,0,0,0,0,0,0,0,0
265,NaN,28.233608,-29.609988,Lesotho,4,4,4,4,4,4,...,0,0,0,0,0,0,0,0,0,0

In [11]:
infected_dataset.sort_values(by='Lat',ascending=False)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
93,Greenland,Denmark,71.7069,-42.6043,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
130,NaN,Iceland,64.9631,-19.0208,0,0,0,0,0,0,...,1806,1807,1807,1807,1807,1807,1807,1808,1810,1810
244,Northwest Territories,Canada,64.8255,-124.8457,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
245,Yukon,Canada,64.2823,-135.0000,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,11,11
106,NaN,Finland,64.0000,26.0000,0,0,0,0,0,0,...,6964,6981,7001,7025,7040,7064,7073,7087,7104,7108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,1685,1687,1687,1691,1699,1703,1703,1720,1732,1741
6,NaN,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,22020,22794,23620,24761,25987,27373,28764,30295,31577,32785
170,NaN,New Zealand,-40.9006,174.8860,0,0,0,0,0,0,...,1504,1504,1504,1504,1504,1504,1504,1504,1504,1506
13,Tasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,...,228,228,228,228,228,228,228,228,228,228
257,Falkland Islands (Malvinas),United Kingdom,-51.7963,-59.5236,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13

In [12]:
infected_dataset[250:256]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
250,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,12,12
251,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
252,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,40,40,42,42,48,48,48,60,60,60
253,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,83,83,83,83,83,85,85,85,85,85
254,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,946,969,1001,1025,1062,1085,1103,1132,1169,1176
255,"Bonaire, Sint Eustatius and Saba",Netherlands,12.178400,-68.238500,0,0,0,0,0,0,...,7,7,7,7,7,7,7,7,7,7

In [13]:
infected_dataset.loc[100:120, ["5/18/20","5/19/20","5/20/20","5/21/20","5/22/20","5/23/20"]]

     5/18/20  5/19/20  5/20/20  5/21/20  5/22/20  5/23/20
100      719      825      890      903      960      960
101       39       39       39       39       39       39
102     1784     1791     1794     1800     1807     1821
103      205      208      217      220      225      238
104      352      365      389      399      433      494
105       18       18       18       18       18       18
106     6380     6399     6443     6493     6537     6568
107      210      218      237      249      261      279
108       60       60       60       60       60       60
109      155      155      155      155      156      156
110     1370     1370     1475     1475     1521     1521
111       18       18       18       18       18       18
112      446      446      447      449      449      452
113        6        6        6        6        6        6
114       39       39       40       40       40       40
115      192      192      192      192      197      197
116   177554   178428   179069   179306   179645   179964
117     1432     1502     1567     1567     1728     1934
118       24       24       24       24       25       25
119      701      707      713      721      723      728
120   176551   177778   178473   179021   179710   179986

In [14]:
infected_dataset.iloc[245:256, 140:150]

,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
245,11,11,11,11,11,11,11,11,11,11
246,1142,1142,1263,1263,1298,1326,1326,1437,1437,1486
247,240,242,244,246,248,260,261,261,261,262
248,3,3,3,3,3,3,3,3,3,3
249,8,8,8,8,8,8,8,8,8,8
250,12,12,12,12,12,12,12,12,12,12
251,9,9,9,9,9,9,9,9,9,9
252,40,40,42,42,48,48,48,60,60,60
253,83,83,83,83,83,85,85,85,85,85
254,946,969,1001,1025,1062,1085,1103,1132,1169,1176
255,7,7,7,7,7,7,7,7,7,7

In [15]:
#isna Her bir sütundaki NaN değerlerini kontrol
infected_dataset.isna().sum()

Province/State    185
Country/Region      0
Lat                 0
Long                0
1/22/20             0
                 ...
6/11/20             0
6/12/20             0
6/13/20             0
6/14/20             0
6/15/20             0
Length: 150, dtype: int64

In [16]:
infected_dropped = infected_dataset.drop(infected_dataset.columns[:4],axis=1)
infected_dropped.mean()

1/22/20        2.086466
1/23/20        2.458647
1/24/20        3.537594
1/25/20        5.390977
1/26/20        7.962406
               ...
6/11/20    28250.842105
6/12/20    28737.819549
6/13/20    29243.913534
6/14/20    29745.962406
6/15/20    30204.740602
Length: 146, dtype: float64

In [17]:
infected_grouppy_country1 = infected_dataset.groupby(["Province/State", "Country/Region"]).mean()
infected_grouppy_country1

,,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Province/State,Country/Region,,,,,,,,,,,,,,,,,,,,,
Alberta,Canada,53.9333,-116.5765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7138.0,7138.0,7202.0,7229.0,7276.0,7316.0,7346.0,7383.0,7433.0,7453.0
Anguilla,United Kingdom,18.2206,-63.0686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
Anhui,China,31.8257,117.2264,1.0,9.0,15.0,39.0,60.0,70.0,106.0,152.0,...,991.0,991.0,991.0,991.0,991.0,991.0,991.0,991.0,991.0,991.0
Aruba,Netherlands,12.5186,-70.0358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,101.0,101.0,101.0,101.0,101.0,101.0,101.0,101.0,101.0,101.0
Australian Capital Territory,Australia,-35.4735,149.0124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Australia,Australia,-31.9505,115.8605,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,599.0,599.0,599.0,599.0,601.0,602.0,602.0,602.0,602.0,602.0
Xinjiang,China,41.1129,85.2401,0.0,2.0,2.0,3.0,4.0,5.0,10.0,13.0,...,76.0,76.0,76.0,76.0,76.0,76.0,76.0,76.0,76.0,76.0
Yukon,Canada,64.2823,-135.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
Yunnan,China,24.9740,101.4870,1.0,2.0,5.0,11.0,16.0,26.0,44.0,55.0,...,185.0,185.0,185.0,185.0,185.0,185.0,185.0,185.0,185.0,185.0
Zhejiang,China,29.1832,120.0934,10.0,27.0,43.0,62.0,104.0,128.0,173.0,296.0,...,1268.0,1268.0,1268.0,1268.0,1268.0,1268.0,1268.0,1268.0,1268.0,1268.0

In [18]:
infected_grouppy_country1.sort_values(by='Country/Region')

,,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Province/State,Country/Region,,,,,,,,,,,,,,,,,,,,,
Queensland,Australia,-28.0167,153.4000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1061.0,1062.0,1062.0,1062.0,1063.0,1064.0,1065.0,1065.0,1065.0,1065.0
South Australia,Australia,-34.9285,138.6007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,440.0,440.0,440.0,440.0,440.0,440.0,440.0,440.0,440.0,440.0
Tasmania,Australia,-41.4545,145.9707,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,228.0,228.0,228.0,228.0,228.0,228.0,228.0,228.0,228.0,228.0
New South Wales,Australia,-33.8688,151.2093,0.0,0.0,0.0,0.0,3.0,4.0,4.0,4.0,...,3109.0,3112.0,3114.0,3117.0,3117.0,3115.0,3119.0,3128.0,3131.0,3134.0
Victoria,Australia,-37.8136,144.9631,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1685.0,1687.0,1687.0,1691.0,1699.0,1703.0,1703.0,1720.0,1732.0,1741.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cayman Islands,United Kingdom,19.3133,-81.2546,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,164.0,164.0,171.0,176.0,180.0,186.0,187.0,187.0,187.0,187.0
Channel Islands,United Kingdom,49.3723,-2.3644,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,563.0,563.0,564.0,565.0,565.0,565.0,565.0,565.0,565.0,568.0
Gibraltar,United Kingdom,36.1408,-5.3536,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,175.0,176.0,176.0,176.0,176.0,176.0,176.0,176.0,176.0,176.0
Turks and Caicos Islands,United Kingdom,21.6940,-71.7979,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
Falkland Islands (Malvinas),United Kingdom,-51.7963,-59.5236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0

In [19]:
infected_grouppy_country1.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
count,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,...,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000
mean,24.042260,34.997959,6.765432,7.938272,11.358025,17.358025,25.679012,35.592593,68.098765,75.246914,...,2388.197531,2397.641975,2406.629630,2413.382716,2421.456790,2427.913580,2435.530864,2443.753086,2450.432099,2456.641975
std,27.649694,95.589002,49.325519,49.385308,61.304019,85.109681,118.730454,159.815579,394.847268,396.406878,...,10026.827775,10058.258303,10081.972678,10101.229676,10120.740019,10138.847694,10157.928452,10177.215462,10192.263285,10205.515968
min,-51.796300,-135.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,16.742500,-63.054800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
50%,30.617100,95.995600,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000
75%,41.295600,116.130600,1.000000,2.000000,4.000000,9.000000,14.000000,21.000000,33.000000,38.000000,...,653.000000,678.000000,678.000000,678.000000,684.000000,689.000000,690.000000,691.000000,692.000000,700.000000
max,71.706900,165.618000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,68135.000000,68135.000000,68135.000000,68135.000000,68135.000000,68135.000000,68135.000000,68135.000000,68135.000000,68135.000000

In [20]:
infected_grouppy_country1.diff()

,,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Province/State,Country/Region,,,,,,,,,,,,,,,,,,,,,
Alberta,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Anguilla,United Kingdom,-35.7127,53.5079,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-7135.0,-7135.0,-7199.0,-7226.0,-7273.0,-7313.0,-7343.0,-7380.0,-7430.0,-7450.0
Anhui,China,13.6051,180.2950,1.0,9.0,15.0,39.0,60.0,70.0,106.0,152.0,...,988.0,988.0,988.0,988.0,988.0,988.0,988.0,988.0,988.0,988.0
Aruba,Netherlands,-19.3071,-187.2622,-1.0,-9.0,-15.0,-39.0,-60.0,-70.0,-106.0,-152.0,...,-890.0,-890.0,-890.0,-890.0,-890.0,-890.0,-890.0,-890.0,-890.0,-890.0
Australian Capital Territory,Australia,-47.9921,219.0482,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Australia,Australia,5.8631,-29.1026,0.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,...,-1086.0,-1088.0,-1088.0,-1092.0,-1098.0,-1101.0,-1101.0,-1118.0,-1130.0,-1139.0
Xinjiang,China,73.0634,-30.6204,0.0,2.0,2.0,3.0,4.0,5.0,10.0,13.0,...,-523.0,-523.0,-523.0,-523.0,-525.0,-526.0,-526.0,-526.0,-526.0,-526.0
Yukon,Canada,23.1694,-220.2401,0.0,-2.0,-2.0,-3.0,-4.0,-5.0,-10.0,-13.0,...,-65.0,-65.0,-65.0,-65.0,-65.0,-65.0,-65.0,-65.0,-65.0,-65.0
Yunnan,China,-39.3083,236.4870,1.0,2.0,5.0,11.0,16.0,26.0,44.0,55.0,...,174.0,174.0,174.0,174.0,174.0,174.0,174.0,174.0,174.0,174.0
Zhejiang,China,4.2092,18.6064,9.0,25.0,38.0,51.0,88.0,102.0,129.0,241.0,...,1083.0,1083.0,1083.0,1083.0,1083.0,1083.0,1083.0,1083.0,1083.0,1083.0

In [21]:
infected_grouppy_country2 = infected_dataset.groupby(["Country/Region"])[["6/9/20", "6/10/20", "6/11/20",	"6/12/20"]].sum()
infected_grouppy_country2

                    6/9/20  6/10/20  6/11/20  6/12/20
Country/Region
Afghanistan          21459    22142    22890    23546
Albania               1299     1341     1385     1416
Algeria              10382    10484    10589    10698
Andorra                852      852      852      853
Angola                  96      113      118      130
...                    ...      ...      ...      ...
West Bank and Gaza     481      485      487      489
Western Sahara           9        9        9        9
Yemen                  524      560      591      632
Zambia                1200     1200     1200     1321
Zimbabwe               314      320      332      343

[188 rows x 4 columns]

#### recovered_dataset

In [22]:
recovered_dataset

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,741,744,751,757,759,780,781,781,781,789
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,68,68,68,76,135,146,156,176,177,177
249,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,23,23,23,23,23,23,28,39,53,79
250,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,67,67,67,67,97,97,97,114,114,114
251,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,2583,2673,2763,2815,2947,3062,3158,3288,3409,3503
252,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [23]:
recovered_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Columns: 150 entries, Province/State to 6/15/20
dtypes: float64(2), int64(146), object(2)
memory usage: 296.6+ KB

In [24]:
recovered_dataset.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '6/6/20', '6/7/20', '6/8/20', '6/9/20', '6/10/20', '6/11/20', '6/12/20',
       '6/13/20', '6/14/20', '6/15/20'],
      dtype='object', length=150)

In [25]:
recovered_dataset.index

RangeIndex(start=0, stop=253, step=1)

#### deaths_dataset

In [26]:
deaths_dataset

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,327,357,369,384,405,426,446,451,471,478
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,34,34,34,34,34,35,36,36,36,36
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,698,707,715,724,732,741,751,760,767,777
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,4,4,4,4,4,5,5,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,12,12
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,111,112,112,127,129,136,139,160,164,208
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,48,48,48,48,48,49,49,50,50,50
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
deaths_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Columns: 150 entries, Province/State to 6/15/20
dtypes: float64(2), int64(146), object(2)
memory usage: 311.8+ KB

In [28]:
deaths_dataset.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '6/6/20', '6/7/20', '6/8/20', '6/9/20', '6/10/20', '6/11/20', '6/12/20',
       '6/13/20', '6/14/20', '6/15/20'],
      dtype='object', length=150)

In [29]:
deaths_dataset.index

RangeIndex(start=0, stop=266, step=1)

#### Combine CSV files Ex

For first 10 datas analysis

In [30]:
infected_dataset_values= infected_dataset.iloc[0:10, 4:(len(infected_dataset.columns))]
infected_dataset_values

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,0,0,0,0,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,0,0,0,0,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,0,0,0,0,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,0,0,0,0,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,0,0,0,0,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
5,0,0,0,0,0,0,0,0,0,0,...,26,26,26,26,26,26,26,26,26,26
6,0,0,0,0,0,0,0,0,0,0,...,22020,22794,23620,24761,25987,27373,28764,30295,31577,32785
7,0,0,0,0,0,0,0,0,0,0,...,12364,13130,13325,13675,14103,14669,15281,16004,16667,17064
8,0,0,0,0,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,108
9,0,0,0,0,3,4,4,4,4,4,...,3109,3112,3114,3117,3117,3115,3119,3128,3131,3134

In [31]:
recovered_dataset_values = recovered_dataset.iloc[0:10, 4:(len(recovered_dataset.columns))]
recovered_dataset_values

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,0,0,0,0,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
1,0,0,0,0,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
2,0,0,0,0,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
3,0,0,0,0,0,0,0,0,0,0,...,741,744,751,757,759,780,781,781,781,789
4,0,0,0,0,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64
5,0,0,0,0,0,0,0,0,0,0,...,20,20,20,20,20,20,20,20,20,20
6,0,0,0,0,0,0,0,0,0,0,...,6180,6909,7305,7568,7991,8332,8743,9083,9564,9891
7,0,0,0,0,0,0,0,0,0,0,...,3720,4014,4099,4451,5226,5466,5639,6081,6214,6276
8,0,0,0,0,0,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
9,0,0,0,0,0,0,0,0,2,2,...,2723,2724,2729,2735,2738,2743,2763,2766,2766,2768

In [32]:
# added new row
pd.concat([infected_dataset_values, recovered_dataset_values])

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,0,0,0,0,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,0,0,0,0,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,0,0,0,0,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,0,0,0,0,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,0,0,0,0,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
5,0,0,0,0,0,0,0,0,0,0,...,26,26,26,26,26,26,26,26,26,26
6,0,0,0,0,0,0,0,0,0,0,...,22020,22794,23620,24761,25987,27373,28764,30295,31577,32785
7,0,0,0,0,0,0,0,0,0,0,...,12364,13130,13325,13675,14103,14669,15281,16004,16667,17064
8,0,0,0,0,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,108
9,0,0,0,0,3,4,4,4,4,4,...,3109,3112,3114,3117,3117,3115,3119,3128,3131,3134
0,0,0,0,0,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
1,0,0,0,0,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
2,0,0,0,0,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
3,0,0,0,0,0,0,0,0,0,0,...,741,744,751,757,759,780,781,781,781,789
4,0,0,0,0,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64
5,0,0,0,0,0,0,0,0,0,0,...,20,20,20,20,20,20,20,20,20,20
6,0,0,0,0,0,0,0,0,0,0,...,6180,6909,7305,7568,7991,8332,8743,9083,9564,9891
7,0,0,0,0,0,0,0,0,0,0,...,3720,4014,4099,4451,5226,5466,5639,6081,6214,6276
8,0,0,0,0,0,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
9,0,0,0,0,0,0,0,0,2,2,...,2723,2724,2729,2735,2738,2743,2763,2766,2766,2768

In [33]:
deaths_dataset_values = deaths_dataset.iloc[0:10, 4:(len(deaths_dataset.columns))]
deaths_dataset_values

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,0,0,0,0,0,0,0,0,0,0,...,327,357,369,384,405,426,446,451,471,478
1,0,0,0,0,0,0,0,0,0,0,...,34,34,34,34,34,35,36,36,36,36
2,0,0,0,0,0,0,0,0,0,0,...,698,707,715,724,732,741,751,760,767,777
3,0,0,0,0,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,0,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,5,5,6,6,6
5,0,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
6,0,0,0,0,0,0,0,0,0,0,...,648,664,693,717,735,765,785,815,833,854
7,0,0,0,0,0,0,0,0,0,0,...,190,200,211,217,227,245,258,264,269,285
8,0,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
9,0,0,0,0,0,0,0,0,0,0,...,48,48,48,48,48,48,48,48,48,48

In [34]:
deaths_dataset_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Columns: 146 entries, 1/22/20 to 6/15/20
dtypes: int64(146)
memory usage: 11.5 KB

In [35]:
deaths_dataset["Country/Region"]

0                Afghanistan
1                    Albania
2                    Algeria
3                    Andorra
4                     Angola
               ...
261    Sao Tome and Principe
262                    Yemen
263                  Comoros
264               Tajikistan
265                  Lesotho
Name: Country/Region, Length: 266, dtype: object

In [36]:
country_keys = infected_dataset["Country/Region"].iloc[:10]
country_keys

0            Afghanistan
1                Albania
2                Algeria
3                Andorra
4                 Angola
5    Antigua and Barbuda
6              Argentina
7                Armenia
8              Australia
9              Australia
Name: Country/Region, dtype: object

In [37]:
country_columns = pd.Series(
    ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda", "Argentina", "Armenia", "Australia", "Australia"],
    index=[0,1,2,3,4,5,6,7,8,9],
    name="Countries"
)
country_columns

0            Afghanistan
1                Albania
2                Algeria
3                Andorra
4                 Angola
5    Antigua and Barbuda
6              Argentina
7                Armenia
8              Australia
9              Australia
Name: Countries, dtype: object

In [38]:
infected_dataset_values["Countries"] = country_columns
infected_dataset_values

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20,Countries
0,0,0,0,0,0,0,0,0,0,0,...,20342,20917,21459,22142,22890,23546,24102,24766,25527,Afghanistan
1,0,0,0,0,0,0,0,0,0,0,...,1246,1263,1299,1341,1385,1416,1464,1521,1590,Albania
2,0,0,0,0,0,0,0,0,0,0,...,10154,10265,10382,10484,10589,10698,10810,10919,11031,Algeria
3,0,0,0,0,0,0,0,0,0,0,...,852,852,852,852,852,853,853,853,853,Andorra
4,0,0,0,0,0,0,0,0,0,0,...,91,92,96,113,118,130,138,140,142,Angola
5,0,0,0,0,0,0,0,0,0,0,...,26,26,26,26,26,26,26,26,26,Antigua and Barbuda
6,0,0,0,0,0,0,0,0,0,0,...,22794,23620,24761,25987,27373,28764,30295,31577,32785,Argentina
7,0,0,0,0,0,0,0,0,0,0,...,13130,13325,13675,14103,14669,15281,16004,16667,17064,Armenia
8,0,0,0,0,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,Australia
9,0,0,0,0,3,4,4,4,4,4,...,3112,3114,3117,3117,3115,3119,3128,3131,3134,Australia

In [39]:
recovered_dataset_values["Countries"] = country_columns
recovered_dataset_values

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20,Countries
0,0,0,0,0,0,0,0,0,0,0,...,1875,2171,2651,3013,3326,3928,4201,4725,5164,Afghanistan
1,0,0,0,0,0,0,0,0,0,0,...,938,945,960,980,1001,1034,1039,1044,1055,Albania
2,0,0,0,0,0,0,0,0,0,0,...,6717,6799,6951,7074,7255,7322,7420,7606,7735,Algeria
3,0,0,0,0,0,0,0,0,0,0,...,744,751,757,759,780,781,781,781,789,Andorra
4,0,0,0,0,0,0,0,0,0,0,...,24,38,38,40,41,42,61,61,64,Angola
5,0,0,0,0,0,0,0,0,0,0,...,20,20,20,20,20,20,20,20,20,Antigua and Barbuda
6,0,0,0,0,0,0,0,0,0,0,...,6909,7305,7568,7991,8332,8743,9083,9564,9891,Argentina
7,0,0,0,0,0,0,0,0,0,0,...,4014,4099,4451,5226,5466,5639,6081,6214,6276,Armenia
8,0,0,0,0,0,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,Australia
9,0,0,0,0,0,0,0,0,2,2,...,2724,2729,2735,2738,2743,2763,2766,2766,2768,Australia

In [40]:
deaths_dataset_values["Countries"] = country_columns
deaths_dataset_values

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20,Countries
0,0,0,0,0,0,0,0,0,0,0,...,357,369,384,405,426,446,451,471,478,Afghanistan
1,0,0,0,0,0,0,0,0,0,0,...,34,34,34,34,35,36,36,36,36,Albania
2,0,0,0,0,0,0,0,0,0,0,...,707,715,724,732,741,751,760,767,777,Algeria
3,0,0,0,0,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,Andorra
4,0,0,0,0,0,0,0,0,0,0,...,4,4,4,4,5,5,6,6,6,Angola
5,0,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,Antigua and Barbuda
6,0,0,0,0,0,0,0,0,0,0,...,664,693,717,735,765,785,815,833,854,Argentina
7,0,0,0,0,0,0,0,0,0,0,...,200,211,217,227,245,258,264,269,285,Armenia
8,0,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,Australia
9,0,0,0,0,0,0,0,0,0,0,...,48,48,48,48,48,48,48,48,48,Australia

In [42]:
#added new columns
merged_covid_files1 = pd.merge(infected_dataset_values,recovered_dataset_values, on="Countries") 
merged_covid_files1

,1/22/20_x,1/23/20_x,1/24/20_x,1/25/20_x,1/26/20_x,1/27/20_x,1/28/20_x,1/29/20_x,1/30/20_x,1/31/20_x,...,6/6/20_y,6/7/20_y,6/8/20_y,6/9/20_y,6/10/20_y,6/11/20_y,6/12/20_y,6/13/20_y,6/14/20_y,6/15/20_y
0,0,0,0,0,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
1,0,0,0,0,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
2,0,0,0,0,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
3,0,0,0,0,0,0,0,0,0,0,...,741,744,751,757,759,780,781,781,781,789
4,0,0,0,0,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64
5,0,0,0,0,0,0,0,0,0,0,...,20,20,20,20,20,20,20,20,20,20
6,0,0,0,0,0,0,0,0,0,0,...,6180,6909,7305,7568,7991,8332,8743,9083,9564,9891
7,0,0,0,0,0,0,0,0,0,0,...,3720,4014,4099,4451,5226,5466,5639,6081,6214,6276
8,0,0,0,0,0,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
9,0,0,0,0,0,0,0,0,0,0,...,2723,2724,2729,2735,2738,2743,2763,2766,2766,2768
10,0,0,0,0,3,4,4,4,4,4,...,104,104,104,104,104,104,104,104,104,104
11,0,0,0,0,3,4,4,4,4,4,...,2723,2724,2729,2735,2738,2743,2763,2766,2766,2768

In [44]:
merged_covid_files2 = pd.merge(merged_covid_files1,deaths_dataset_values, on="Countries") 
merged_covid_files2

,1/22/20_x,1/23/20_x,1/24/20_x,1/25/20_x,1/26/20_x,1/27/20_x,1/28/20_x,1/29/20_x,1/30/20_x,1/31/20_x,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,0,0,0,0,0,0,0,0,0,0,...,327,357,369,384,405,426,446,451,471,478
1,0,0,0,0,0,0,0,0,0,0,...,34,34,34,34,34,35,36,36,36,36
2,0,0,0,0,0,0,0,0,0,0,...,698,707,715,724,732,741,751,760,767,777
3,0,0,0,0,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,0,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,5,5,6,6,6
5,0,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
6,0,0,0,0,0,0,0,0,0,0,...,648,664,693,717,735,765,785,815,833,854
7,0,0,0,0,0,0,0,0,0,0,...,190,200,211,217,227,245,258,264,269,285
8,0,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
9,0,0,0,0,0,0,0,0,0,0,...,48,48,48,48,48,48,48,48,48,48
10,0,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
11,0,0,0,0,0,0,0,0,0,0,...,48,48,48,48,48,48,48,48,48,48
12,0,0,0,0,3,4,4,4,4,4,...,3,3,3,3,3,3,3,3,3,3
13,0,0,0,0,3,4,4,4,4,4,...,48,48,48,48,48,48,48,48,48,48
14,0,0,0,0,3,4,4,4,4,4,...,3,3,3,3,3,3,3,3,3,3
15,0,0,0,0,3,4,4,4,4,4,...,48,48,48,48,48,48,48,48,48,48